# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.whl

# Virtual environment
venv/
env/
*.env

# Compiled Python modules
*.pyc

# Compiled C extensions
*.so

# Logs and temp files
*.log
*.tmp

# Kivy cache
.kivy/

# OS-specific files
.DS_Store
Thumbs.db

output.csv